@media (max-width: 1023px) {
    .bento-menu {
        width: 55px;
        height: 55px;
        display: block;
    }

    .nav__container {
        display: flex;
    }

    .nav__link {
        display: none;
    }

    .main_info {
        width: auto;
    }

    .sticky__containers {
        width: auto;
    }

    .sticky__containers-bitcoin {
        margin-bottom: 25px;
        width: auto;
    }

    .pages-wrapper {
        display: none;
    }

    .pages-mobile {
        display: flex;
        justify-content: center;
        margin: 2rem 2rem;
    }

    .page_numbers {
        display: none;
    }

    .main__containers {
        display: flex;
        flex-direction: column;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }

    .main__containers-subtext {
        display: none;
    }

    .main__containers-img {
        width: 22rem;
        height: 15rem;
    }

    .main__containers-subinfo {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: center;
    }

    .main__containers-block {
        margin-bottom: 3rem;
        height: auto;
        width: 100%;
    }
}



@media (max-width: 767px) {
    .body {
        width: 4rem;
    }

    .nav__container {
        width: auto;
    }
    .nav__link {
        display: none;
    }

    
  .nav__link-gambling {
    display: none;
  }

    .nav__links {
        padding: 0;
    }

    .nav-logo {
        display: flex;
    align-items: center;
    width: 14rem;
    height: 2rem;
    justify-content: center;
    margin-right: 1rem;
    }

    .bento-menu {
        width: 55px;
        height: 55px;
        display: block;
    }

    #inputfield.open {
    left: 0rem;
    display: block;
    position: absolute;
    top: 4rem;
    }

    .main-img {
    width: 18rem;
    height: 11rem;
    }

    .left_column {
        width: 100%;
    }

    .autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .autor_photo {
    width: 5rem;
    height: 5rem;
    }

    .clauses_buttons {
        display: flex;
        justify-content: center;
    }

    .clause_button-left {
        font-size: 9px;
    }

    .clause_button-left::after {
        width: 107px;
    }

    .clause_button-right {
        font-size: 9px;
    }

    .clause_button-right::after {
        width: 97px;
    }

    .clauses_switching-left, .clauses_switching-right {
        display: none;
    }

    .sticky__containers-info {
        width: auto;
    }

    .sticky__containers-bitcoin {
        width: auto;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        /* margin: 0rem 20rem; */
        background-color: rgba(221,51,51,0);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
        padding: 1rem;
        margin: auto;
    }
    .main__button-guide, .main__button-ico {
        display: none;
    }
    .main__containers {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: auto;
    }

    .main__containers-subinfo {
        display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    }

    .main__containers-subtext {
        display: block;
    }

    .page_numbers {
        display: block;
    }

    .sticky__containers {
        width: auto;
    }

    .sticky__containers-text {
        margin-left: 1rem;
        text-align: center;
    }

    .sticky__containers-bitcoin {
        align-items: center;
        text-align: center;
        width: auto;
    }

    .sticky__nftcontainers-text {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .sticky__containers-subtitle, .sticky__containers-subtitle-info {
        margin-top: 0.6rem;
    }

    .pages, .contact-info {
        margin: auto;
    }

    .contact-info {
    display: flex;
    width: auto;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    }

    .contact-info__links {
        display: flex;
        margin-left: 0;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer {
        display: none;
    }

    .footer-text {
        width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    }

    .footer__decs-img {
        width: 87%;
        height: 8%;
    }

    .footer__categories {
        width: 75%;
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
        margin-left: 0;
    }

    .footer__news-title {
        display: flex;
        margin-right: 8rem;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main__containers-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem;
    }
    .main__containers-img {
        width: 9rem;
        height: 8rem;
        background: url('/assets/main/main-img.webp') center/cover no-repeat;
    }

    .main__containers-block {
        width: auto;
        height: auto;
    }

    .main__containers-blocks {
        display: flex;
        flex-direction: column;
    }

    .pages-mobile {
        width: auto;
        display: block;
        margin: 20px 0rem;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }

    .sticky__containers-bitget {
        display: flex;
        align-items: center;
    }

    .pages-wrapper {
        display: none;
    }
    .page_numbers {
        margin-left: 5rem;
    font-size: 0.8rem;
    }

    .footer__main-info {
        width: 100%;
        display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    }

    .footer__news-info {
        display: flex;
        margin-top: 15px;
        margin-bottom: 0px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }

    .footer__news-img {
    width: 13rem;
    height: 5rem;
    }

    .footer__news {
        width: 100%;
        display: flex;
        margin-left: 0;
    }

    .news-list, .footer__news-subtitle {
        color: white;
    }

    .footer-text, .footer__news-info {
        display: flex;
    text-align: left;
    margin-left: 10px;
    }

    .footer__news-info {
        width: 96%;
    margin-top: 40px;
    margin-bottom: 0;
    }

    .footer__news-subtitle {
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-size: 13px;
    }

    .footer__news-info, .footer-text {
    display: flex;
    text-align: left;

    }

    .footer-text {
        display: flex;
        align-items: flex-start;
        margin-left: 0.5rem;
    }

    .footer__decs-title {
        font-size: 13px;
        text-align: center;
    }

    .news_title {
        font-size: 13px;
    }
    
    .previous_btn {
        font-size: 9px;
    }

    .footer__decs {
        width: 90%;
    margin-left: 0;
    align-items: center;
    }

    .footer__news-date {
        font-size: 10px;
        text-align: left;
    }

    .articles {
        text-align: left;
        font-size: 0.9rem;
    }

    .contact-info {
        display: flex;
        width: auto;
        margin: auto;
        flex-direction: column-reverse;
        align-content: space-around;
    }

    .contact-info__rights {
        padding-top: 10px;
    }

    .contact-info__link {
        margin-right: 0;
        margin-bottom: 4px;
    }

}